<h1>Pedidos</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Valor</th>
    <th>Cliente</th>
    <th>Motoboy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pedidos.each do |pedido| %>
  <tr>
    <td><%= pedido.data %></td>
    <td><%= pedido.hora %></td>
    <td><%= pedido.valor %></td>
    <td><%= pedido.cliente.nome %></td>
    <td><%= pedido.motoboy.nome %></td>
    <td><%= link_to 'Show', pedido %></td>
    <td><%= link_to 'Edit', (edit_pedido_path pedido) %></td>
    <td><%= link_to 'Excluir', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pedido', new_pedido_path %>
