= semantic_form_for [@itempedido] do |form|

  = form.input :quantidade, :label => 'Quantidade'
  = form.input :pedido, :member_label => :data, :label => 'Pedido'
  = form.input :cardapio, :member_label => :nome, :label => 'Cardapio'
  = form.submit 'Salvar'









